.xlform fieldset { border: 0; margin-top: 1em; }
.xlform fieldset legend { font-size: larger; font-weight: bold; }
.xlform fieldset fieldset { font-size: inherit; font-weight: normal; }

/* Vertical List Style Forms */

.xlform fieldset ul { list-style: none; padding: 0; margin: 0; }
.xlform fieldset li { margin: 1em 0.5em; float: left; }
.xlform fieldset li label, .ui-field-contain label.ui-input-text, .ui-field-contain label.ui-slider { display: block; }
.xlform fieldset li label.inline { display: inline; }
.xlform fieldset li input { overflow: hidden; }
.xlform fieldset li input.submit { width: auto; }
.xlform fieldset li label input { width: auto; }
.xlform fieldset li fieldset label { display: inline; }
.xlform fieldset .bs { height: 26px; }
.xlform fieldset .bs label { display: inline-block; position: inherit; height: 1.5em; }

/* Horizontal Table Style Forms */

.checks label { display: inline; padding: 0; }
.xlform fieldset td label { display: block; text-align: right; padding: 5px; }
.xlform fieldset td input[type=text] { width: 100%; }
.tright { text-align: right; }

select { padding: 1px; }

.ui-button .ui-button-text, input.ui-button { padding: 0 1em; }
.xlform-vertical fieldset li { float: none; }

.bs label span, .button {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* Fixes for ugly jquery mobile bugs */

input.ui-input-text, textarea.ui-input-text { width: auto; display: inline-block; }
div.ui-slider-switch { width: 9em }
.ui-body-c, .ui-overlay-c { text-shadow: none; }
