.file-manager th { text-align: left; }
.file-manager .icon { cursor: n-resize }
.div-mass-options
{
	position: absolute;
	background: #FFF;
	color: #000;
	display: none;

	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}